@import url("reset.css");
@import url("variables.css");
@import url("components/header.css");
@import url("components/hero.css");
@import url("components/buttons.css");
@import url("components/depoimentos.css");
@import url("components/afiliados-migrando.css");
@import url("components/animated-strips.css");
@import url("components/stacked-cards.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.header-hero-container {
  background-image: url("../assets/img/bg-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 130px;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}

.animate-on-scroll.show {
  opacity: 1;
  transform: translateY(0);
}

/* E se quiser um delay automático nos cards: */
.migrando-cards .card.animate-on-scroll:nth-child(1) {
  transition-delay: 0.1s;
}
.migrando-cards .card.animate-on-scroll:nth-child(2) {
  transition-delay: 0.3s;
}
.migrando-cards .card.animate-on-scroll:nth-child(3) {
  transition-delay: 0.5s;
}
.migrando-cards .card.animate-on-scroll:nth-child(4) {
  transition-delay: 0.7s;
}
