:root {
  --primary-color: #6a11cb;
  --secondary-color: #2575fc;
  --btn-primary-color: #6a11cb;
  --btn-secondary-border: #ffffff;
  --btn-secondary-text: #ffffff;
  --hero-gradient: linear-gradient(135deg, #2b0b49, #000);
  --highlight-green: #a8de65;

  --font-title-weight: 700;
  --font-text-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
