<section class="depoimentos">
  <h2>Depoimentos de Alguns Afiliados</h2>
  <p class="subtext">
    "Nós somos suspeitos para falar, mas eles falam por nós."
  </p>
  <div class="depoimentos-videos animate-on-scroll">
    <div class="video-card">
      <img src="assets/img/Design-sem-nome-52.jpg" alt="Depoimento 1" />
      <span class="play-icon"><i class="fa-solid fa-play"></i></span>
    </div>
    <div class="video-card">
      <img src="assets/img/Design-sem-nome-53.jpg" alt="Depoimento 2" />
      <span class="play-icon"><i class="fa-solid fa-play"></i></span>
    </div>
    <div class="video-card">
      <img src="assets/img/Design-sem-nome-51.jpg" alt="Depoimento 3" />
      <span class="play-icon"><i class="fa-solid fa-play"></i></span>
    </div>
    <div class="video-card">
      <img src="assets/img/Design-sem-nome-50.jpg" alt="Depoimento 4" />
      <span class="play-icon"><i class="fa-solid fa-play"></i></span>
    </div>
  </div>
  <div class="porque-escolher animate-on-scroll">
    <div class="porque-container">
      <div class="porque-img">
        <div class="imagem-container">
          <img
            src="assets/img/Design-sem-nome-40.jpg"
            alt="Imagem porque escolher"
          />
          <div class="imagem-overlay"></div>
        </div>
      </div>
      <div class="porque-text animate-on-scroll">
        <h3>Por que escolher a LogMoney?</h3>
        <p>
          A LogMoney está revolucionando as vendas no Brasil com Cash on
          Delivery em parceria com os Correios. Seu cliente só paga quando o
          produto chega em suas mãos, aumentando a conversão. Você vende sem
          riscos e recebe pagamentos diários!
        </p>
        <ul>
          <li>✅ Única plataforma com Cash On Delivery via Correios</li>
          <li>✅ Pagamento rápido sem demora, com saques diários</li>
          <li>✅ Premiações mensais como incentivo aos melhores afiliados</li>
        </ul>
        <a href="#planos" class="btn-primary">Quero ser Afiliado</a>
      </div>
    </div>
  </div>
</section>
