<section class="hero container-global">
  <div class="hero-text">
    <p>
      Aumente suas vendas, receba sem demora e aproveite lucros diários com a
      LogMoney, a plataforma que impulsiona seu crescimento.
    </p>
    <div class="hero-buttons">
      <a href="#" class="btn-primary">Começar Agora</a>
      <a href="#" class="btn-secondary">Whatsapp</a>
    </div>
  </div>
  <div class="hero-video animate-on-scroll">
    <div class="video-placeholder">
      <img
        src="assets/img/Design-sem-nome-54.jpg"
        alt="Vídeo de apresentação"
      />
      <span class="play-icon"><i class="fa-solid fa-play"></i></span>
    </div>
  </div>
</section>
