<section class="plan-section">
  <div class="plan-container animate-on-scroll">
    <h2>Escolha o seu Plano</h2>
    <p>
      Selecione o plano que melhor se encaixa no seu perfil de vendas e comece a
      ganhar com nosso programa de afiliados!
    </p>

    <div class="plan-cards-container animate-on-scroll">
      <div class="plan-card-1">
        <div>
          <h3 class="plan-title basic">Básico</h3>
          <p class="plan-price">R$47,00 <span>/Mensal</span></p>
          <p class="plan-description">
            Comece agora e aproveite 40% de comissão com produtos vencedores.
          </p>
        </div>
        <hr />
        <ul class="plan-benefits">
          <li>✅ Acesso a plataforma por 1 mês</li>
          <li>✅ Acesso a todos produtos validados</li>
          <li>✅ Taxa de frustração R$12,00</li>
          <li>✅ Comissão de 40%</li>
        </ul>
        <a href="#" class="cta-button">
          Comprar agora
          <span class="icon-circle">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </a>
      </div>

      <div class="plan-card-2">
        <h3 class="plan-title intermediate">Intermediário</h3>
        <p class="plan-price">R$97,00 <span>/Mensal</span></p>
        <p class="plan-description">
          Escale suas vendas com 45% de comissão e ferramentas poderosas.
        </p>
        <hr />
        <ul class="plan-benefits">
          <li>✅ Acesso a plataforma por 1 mês</li>
          <li>✅ Acesso a todos produtos validados</li>
          <li>✅ Taxa de frustração R$10,00</li>
          <li>✅ Comissão de 45%</li>
        </ul>
        <a href="#" class="cta-button">
          Comprar agora
          <span class="icon-circle">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </a>
      </div>
    </div>

    <div class="whatsapp-banner animate-on-scroll">
      <span>Estamos Online</span>
      <a href="#hero" target="_blank" class="whatsapp-button">
        <i class="fa-brands fa-whatsapp"></i> Falar no whatsapp
      </a>
    </div>
  </div>
</section>
