<section class="stacked-section">
  <div class="stacked-section-container">
    <div class="stacked-card">
      <i class="fa-solid fa-star"></i>
      <h2>Comece sem complicação</h2>
      <p>
        Cadastre-se rapidamente e descubra todas as vantagens da LogMoney para
        afiliados.
      </p>
    </div>
    <div class="stacked-card">
      <i class="fa-solid fa-chart-line"></i>
      <h2>Produtos validados</h2>
      <p>
        Nossa vitrine conta com produtos líderes de mercado e materiais prontos
        para você começar.
      </p>
    </div>
    <div class="stacked-card">
      <i class="fa-solid fa-graduation-cap"></i>
      <h2>Treinamento completo</h2>
      <p>
        Aprenda com especialistas. Estratégias, roteiros e guias para
        transformar suas vendas.
      </p>
    </div>
    <div class="stacked-card">
      <i class="fa-solid fa-sack-dollar"></i>
      <h2>Ganhe mais</h2>
      <p>
        Com comissões altas e pagamentos rápidos, você vê resultados direto no
        seu bolso.
      </p>
    </div>
  </div>
</section>
