.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: transparent;
}

.header .logo {
    width: 310px;
}

.btn-aluno {
    background-color: var(--highlight-green);
    color: #000;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-aluno:hover {
    opacity: 0.85;
}
